.skills {
    background-color:orangered;
}

.skill {
    background-color: #242a2c;
    color: #ffffcc;
}



.skill-title{
    font-family:"Arial Black", Gadget, sans-serif;
    font-size:150%;
    font-weight:bold;
}

.icon{

}

.description{
    background-color:#464c4e;
    height: 50px;
    max-height: 50px;
    overflow: hidden;
    transition: max-height 1s ease-in .5s;
}

.description:hover {
    height: auto;
    max-height: 1500px;
}

.effects{
    background-color:deepskyblue;
}

.avalaible{
    background-color:#464c4e;
}

.not-avalaible{
    background-color: #844c4e;
}